*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

button{
    padding: 2em;
    margin: 2em;
    cursor: pointer;
}